@page "/importProducts"
<PageTitle>Import Food Products</PageTitle>

<MudText Typo="Typo.h5">Import Food Products</MudText>


<div class="d-flex justify-start py-8">
    <MudImage Src="https://static.openfoodfacts.org/images/logos/off-logo-horizontal-light.svg" />
</div>

@code {

}
